.title p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    height: 10px;
}
.color{
    width: 100px;
    height: 3px;
    border: 1px solid black;
    background-color: #80cc6d;
    
    
}
.text {
    width: 500px;
    font-family:Arial, Helvetica, sans-serif;
}
.text1{
    display: flex;
}

.image1 img{
    width: 300px;
}
.form{
    float: left;
    width: 300px;
}
.image2 img{
    float: right;
    width: 250px;
}